.promo {
  width: 100%;
  height: 800px;
  background-color: #fcdb00; }
  .promo__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 132px;
    margin-bottom: 12px; }
    .promo__wrapper h3 {
      text-align: center;
      margin: 0; }
    .promo__wrapper button {
      text-align: center;
      margin-top: 45px;
      width: 200px;
      border: solid 1px #000000;
      background-color: #fcdb00;
      padding: 20px 58px;
      color: #010101;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem; }
    .promo__wrapper div {
      margin-top: 150px;
      width: 30px;
      height: 50px;
      background-color: #333;
      clip-path: polygon(33% 0, 66% 0, 66% 75%, 85% 75%, 50% 100%, 15% 75%, 33% 75%); }
      .promo__wrapper div:hover {
        background-color: #FF6347;
        transition: all 1s; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px; }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo h2 {
      margin: 0 0 0 1.5rem;
      font-size: 2rem; }

.features {
  margin: 60px 0; }
  .features__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
  .features__subtitle {
    text-align: center; }
  .features .wrapper {
    display: flex;
    flex-flow: row wrap; }
    .features .wrapper__part1 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px; }
      .features .wrapper__part1:hover {
        border: 1px solid #FFB6C1;
        background-color: #FFB6C1;
        transition: all 1s; }
      .features .wrapper__part1 a {
        flex: 1;
        width: 31px;
        height: 38px;
        margin-left: 2rem; }
      .features .wrapper__part1__info {
        flex: 2; }
    .features .wrapper__part2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px; }
      .features .wrapper__part2 a {
        flex: 1;
        width: 31px;
        height: 38px;
        margin-left: 2rem; }
      .features .wrapper__part2__info {
        flex: 2; }
    .features .wrapper__part3 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px; }
      .features .wrapper__part3 a {
        flex: 1;
        width: 31px;
        height: 38px;
        margin-left: 2rem; }
      .features .wrapper__part3__info {
        flex: 2;
        justify-content: center;
        align-items: center; }
    .features .wrapper__part4 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px; }
      .features .wrapper__part4 a {
        flex: 1;
        width: 31px;
        height: 38px;
        margin-left: 2rem; }
      .features .wrapper__part4__info {
        flex: 2; }
    .features .wrapper__part5 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px; }
      .features .wrapper__part5 a {
        flex: 1;
        width: 31px;
        height: 38px;
        margin-left: 2rem; }
      .features .wrapper__part5__info {
        flex: 2; }
    .features .wrapper__part6 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 20px; }
      .features .wrapper__part6 a {
        flex: 1;
        width: 31px;
        height: 38px;
        margin-left: 2rem; }
      .features .wrapper__part6__info {
        flex: 2; }
  .features .wrapper > * {
    width: 33.3%; }

.pricing {
  margin: 0; }
  .pricing__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .pricing .pricing__subtitle {
    margin-bottom: 6rem; }
  .pricing .pricingwrapper {
    display: flex;
    flex-direction: center;
    align-items: center; }
    .pricing .pricingwrapper__icon__basic {
      position: relative;
      width: 100px;
      height: 100px;
      background-color: grey;
      border-radius: 50%; }
      .pricing .pricingwrapper__icon__basic img {
        position: absolute;
        top: 30%;
        left: 35%; }
    .pricing .pricingwrapper__icon__standart {
      position: relative;
      width: 100px;
      height: 100px;
      background-color: grey;
      border-radius: 50%; }
      .pricing .pricingwrapper__icon__standart img {
        position: absolute;
        top: 30%;
        left: 25%; }
    .pricing .pricingwrapper__icon__enterprise {
      position: relative;
      width: 100px;
      height: 100px;
      background-color: grey;
      border-radius: 50%; }
      .pricing .pricingwrapper__icon__enterprise img {
        position: absolute;
        top: 30%;
        left: 25%; }
  .pricing .pricingwrapper > * {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.ourworks {
  margin-top: 8rem; }
  .ourworks__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .ourworks__subtitle {
    margin-bottom: 4rem; }
  .ourworks__items {
    display: flex;
    flex-flow: row wrap; }
  .ourworks__items > * {
    width: 25%;
    text-align: center; }

.ourteam {
  margin: 0; }
  .ourteam__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .ourteam__items {
    display: flex;
    justify-content: space-around; }
  .ourteam__items > * {
    width: 25%;
    text-align: center; }

.testimonial {
  margin: 0; }
  .testimonial__main {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .testimonial__items {
    display: flex; }
  .testimonial__items > * {
    width: 25%; }
  .testimonial__example {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .testimonial__example__logo {
      width: 100px;
      height: 100px; }
    .testimonial__example__q1 {
      width: 10px;
      height: 10px;
      margin-right: 20px; }
    .testimonial__example__q2 {
      width: 10px;
      height: 10 px;
      margin-left: 20px; }

.touch {
  margin: 0; }
  .touch__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .touch__items {
    display: flex; }
  .touch__items > * {
    width: 33.3%; }
  .touch__form {
    display: flex;
    flex-direction: column; }
    .touch__form input {
      width: 80%;
      margin: 1rem auto; }
    .touch__form textarea {
      width: 80%;
      margin: 1rem auto; }
    .touch__form button {
      display: inline-block;
      color: #ffff;
      background-color: #333;
      padding: 1rem;
      width: 10rem;
      margin: 1rem auto; }

.footer {
  margin: 0; }
  .footer__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__form {
    margin: 0 2rem;
    text-align: center; }
    .footer__form input {
      width: 60%;
      height: 2rem; }
    .footer__form button {
      width: 10rem;
      height: 2rem; }
  .footer__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .footer__bottom > * {
    flex-direction: column; }

html {
  box-sizing: border-box; }

*, ::before, ::after {
  box-sizing: inherit; }

* {
  font-family: 'Source Sans Pro', sans-serif; }

body {
  margin: 0; }

.container {
  width: 1200px;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
