.ourworks {
    margin-top: 8rem;
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__subtitle {
        margin-bottom: 4rem;
        text-align: center;
    }
    &__items {
        display: flex;
        flex-flow: row wrap;
    }
    &__items > * {
        width: 25%;
        text-align: center;
    }
}   