.ourteam {
    margin: 0;
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__items {
        display: flex;
        justify-content: space-around;
    }
    &__items > * {
        width: 25%;
        text-align: center;
    }
}