.pricing {
    margin: 0;
    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pricing__subtitle {
        margin-bottom: 6rem;
        
    }
    .pricingwrapper {
        display: flex;
        flex-direction: center;
        align-items: center;
        &__icon__basic {
            position: relative;
            width: 100px;
            height: 100px;
            background-color: grey;
            border-radius: 50%;
            img {
                position: absolute;
                top: 30%;
                left: 35%;      
            }
        }
        &__icon__standart {
            position: relative;
            width: 100px;
            height: 100px;
            background-color: grey;
            border-radius: 50%;
            img {
                position: absolute;
                top: 30%;
                left: 25%;      
            }
        }
        &__icon__enterprise {
            position: relative;
            width: 100px;
            height: 100px;
            background-color: grey;
            border-radius: 50%;
            img {
                position: absolute;
                top: 30%;
                left: 25%;      
            }
        }
        
    }
    .pricingwrapper > * {
        width: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}