@import 'variables.scss';
@import 'promo.scss';
@import 'header.scss';
@import 'features.scss';
@import 'pricing.scss';
@import 'ourworks.scss';
@import 'ourteam.scss';
@import 'testimonial.scss';
@import 'touch.scss';
@import 'footer.scss';

html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
}


.container {
    width: 1200px;
    margin: 0 auto;
}